In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from datetime import datetime
from dateutil import relativedelta

## 确定目标

某航空公司面临着旅客流失、竞争力下降和航空资源未充分利用等经营危机。

希望建立合理的客户价值评估模型，对客户进行分群。分析比较不同客户群的客户价值，并制定相应的营销策略。

## 明确需求


核心需求：
1. 分析比较不同客户群的客户价值
2. 并制定相应的营销策略

本节课重点讲需求1，如何对客户进行分类并分析价值。需求2是需要行业经验积累的，在此略去。

**案例数据概述**：从航空公司系统内的客户基本信息、乘机信息以及积分信息等详细数据中，根据末次飞行日期（LAST_FLIGHT_DATE），抽取20120401至20140331内所有乘客的详细数据，总共有62988条记录。其中包含了会员卡号、入会时间、性别、年龄、会员卡级别、工作地城市、工作地所在省份、工作地所在国家、观测窗口结束时间、观测窗口乘机积分、飞行公里数、飞行次数、飞行时间、乘机时间间隔和平均折扣率等44个属性。

详细字段含义：
* 会员卡号	MEMBER_NO
* 入会时间	FFP_DATE
* 第一次飞行日期	FIRST_FLIGHT_DATE
* 性别	GENDER
* 会员卡级别	FFP_TIER
* 工作地城市	WORK_CITY
* 工作地所在省份	WORK_PROVINCE
* 工作地所在国家	WORK_COUNTRY
* 年龄	age
* 观测窗口的结束时间	LOAD_TIME
* 飞行次数	FLIGHT_COUNT
* 观测窗口总基本积分	BP_SUM
* 第一年精英资格积分	EP_SUM_YR_1
* 第二年精英资格积分	EP_SUM_YR_2
* 第一年总票价	SUM_YR_1
* 第二年总票价	SUM_YR_2
* 观测窗口总飞行公里数	SEG_KM_SUM
* 观测窗口总加权飞行公里数（Σ舱位折扣×航段距离）	WEIGHTED_SEG_KM
* 末次飞行日期	LAST_FLIGHT_DATE
* 观测窗口季度平均飞行次数	AVG_FLIGHT_COUNT
* 观测窗口季度平均基本积分累积	AVG_BP_SUM
* 观察窗口内第一次乘机时间至MAX（观察窗口始端，入会时间）时长	BEGIN_TO_FIRST
* 最后一次乘机时间至观察窗口末端时长	LAST_TO_END
* 平均乘机时间间隔	AVG_INTERVAL
* 观察窗口内最大乘机间隔	MAX_INTERVAL
* 观测窗口中第1年其他积分（合作伙伴、促销、外航转入等）	ADD_POINTS_SUM_YR_1
* 观测窗口中第2年其他积分（合作伙伴、促销、外航转入等）	ADD_POINTS_SUM_YR_2
* 积分兑换次数	EXCHANGE_COUNT
* 平均折扣率	avg_discount
* 第1年乘机次数	P1Y_Flight_Count
* 第2年乘机次数	L1Y_Flight_Count
* 第1年里程积分	P1Y_BP_SUM
* 第2年里程积分	L1Y_BP_SUM
* 观测窗口总精英积分	EP_SUM
* 观测窗口中其他积分（合作伙伴、促销、外航转入等）	ADD_Point_SUM
* 非乘机积分总和	Eli_Add_Point_Sum
* 第2年非乘机积分总和	L1Y_ELi_Add_Points
* 总累计积分	Points_Sum
* 第2年观测窗口总累计积分	L1Y_Points_Sum
* 第2年的乘机次数比率	Ration_L1Y_Flight_Count
* 第1年的乘机次数比率	Ration_P1Y_Flight_Count
* 第1年里程积分占最近两年积分比例	Ration_P1Y_BPS
* 第2年里程积分占最近两年积分比例	Ration_L1Y_BPS
* 非乘机的积分变动次数	Point_NotFlight

从需求来看，是个典型的客户价值分析场景，合适使用RFM模型进行分析。

但是，上面提供的字段并不能完全适配RFM模型，且部分字段本身也能体现客户价值。

所以首先筛选出会明显影响客户价值的变量（在这一步的操作上就很依赖于业务理解能力），在RFM的基础上进行拓展，加上会员入会时间L，然后消费金额M用飞行历程和和折扣费率C代替，得到LRFMC模型。


| 字段 | 含义 |
| --- | --- |
| L | 会员入会时间距离观测窗口结束的月份数 |
| R | 客户最近一次乘坐飞机距离观测窗口结束的时间的月份数 |
| F | 客户在观测窗口内乘公司飞机的次数 |
| M | 客户在观测窗口内的累计飞行里程 |
| C | 客户在观测窗口内乘坐舱位所对应的折扣系数的平均值 |

如果按照RFM模型对客户进行分类，由于上面有5个变量，总计有2^5共计32个客户群体，划分过细，难以操作。
考虑到这实际上是一个分类问题，因此我们可以用机器学习中的聚类算法来解决。这里简单起见，采用K-means聚类算法。

In [2]:
## 原始数据
df_origin = pd.read_csv('data/air_data.csv')
df_origin

       MEMBER_NO    FFP_DATE FIRST_FLIGHT_DATE  ... Ration_P1Y_BPS  Ration_L1Y_BPS Point_NotFlight
0          54993  2006/11/02        2008/12/24  ...       0.487221        0.512777              50
1          28065  2007/02/19        2007/08/03  ...       0.489289        0.510708              33
2          55106  2007/02/01        2007/08/30  ...       0.481467        0.518530              26
3          21189  2008/08/22        2008/08/23  ...       0.551722        0.448275              12
4          39546  2009/04/10        2009/04/15  ...       0.469054        0.530943              39
...          ...         ...               ...  ...            ...             ...             ...
62983      18375  2011/05/20        2013/06/05  ...       0.000000        0.000000              22
62984      36041  2010/03/08        2013/09/14  ...       0.000000        0.000000              43
62985      45690  2006/03/30        2006/12/02  ...       0.000000        0.000000               0
62986      61027  2013/02/06        2013/02/14  ...       0.000000        0.000000               0
62987      61340  2013/02/17        2013/02/17  ...       0.000000        0.000000               0

[62988 rows x 44 columns]

## 探索探索

看看数据是否能满足分析需求，统计特征如何，是否有脏数据（缺失值等）

In [3]:
def explore(df):
    df_ex = df.describe(percentiles=[], include='all').T
    df_ex['null_count'] = len(df) - df_ex['count']
#     df_ex = df_ex[['null_count', 'max', 'min']]
    return df_ex
df_explore = explore(df_origin)
df_explore

                         count unique         top   freq  ...   min       50%       max null_count
MEMBER_NO                62988    NaN         NaN    NaN  ...     1   31494.5     62988          0
FFP_DATE                 62988   3068  2011/01/13    184  ...   NaN       NaN       NaN          0
FIRST_FLIGHT_DATE        62988   3406  2013/02/16     96  ...   NaN       NaN       NaN          0
GENDER                   62985      2           男  48134  ...   NaN       NaN       NaN          3
FFP_TIER                 62988    NaN         NaN    NaN  ...     4         4         6          0
WORK_CITY                60719   3310          广州   9385  ...   NaN       NaN       NaN       2269
WORK_PROVINCE            59740   1185          广东  17507  ...   NaN       NaN       NaN       3248
WORK_COUNTRY             62962    118          CN  57748  ...   NaN       NaN       NaN         26
AGE                      62568    NaN         NaN    NaN  ...     6        41       110        420
LOAD_TIME                62988      1  2014/03/31  62988  ...   NaN       NaN       NaN          0
FLIGHT_COUNT             62988    NaN         NaN    NaN  ...     2         7       213          0
BP_SUM                   62988    NaN         NaN    NaN  ...     0      5700    505308          0
EP_SUM_YR_1              62988    NaN         NaN    NaN  ...     0         0         0          0
EP_SUM_YR_2              62988    NaN         NaN    NaN  ...     0         0     74460          0
SUM_YR_1                 62437    NaN         NaN    NaN  ...     0      2800    239560        551
SUM_YR_2                 62850    NaN         NaN    NaN  ...     0      2773    234188        138
SEG_KM_SUM               62988    NaN         NaN    NaN  ...   368      9994    580717          0
WEIGHTED_SEG_KM          62988    NaN         NaN    NaN  ...     0   6978.26    558440          0
LAST_FLIGHT_DATE         62988    731  2014/03/31    959  ...   NaN       NaN       NaN          0
AVG_FLIGHT_COUNT         62988    NaN         NaN    NaN  ...  0.25     0.875    26.625          0
AVG_BP_SUM               62988    NaN         NaN    NaN  ...     0   752.375   63163.5          0
BEGIN_TO_FIRST           62988    NaN         NaN    NaN  ...     0        50       729          0
LAST_TO_END              62988    NaN         NaN    NaN  ...     1       108       731          0
AVG_INTERVAL             62988    NaN         NaN    NaN  ...     0   44.6667       728          0
MAX_INTERVAL             62988    NaN         NaN    NaN  ...     0       143       728          0
ADD_POINTS_SUM_YR_1      62988    NaN         NaN    NaN  ...     0         0    600000          0
ADD_POINTS_SUM_YR_2      62988    NaN         NaN    NaN  ...     0         0    728282          0
EXCHANGE_COUNT           62988    NaN         NaN    NaN  ...     0         0        46          0
avg_discount             62988    NaN         NaN    NaN  ...     0  0.711856       1.5          0
P1Y_Flight_Count         62988    NaN         NaN    NaN  ...     0         3       118          0
L1Y_Flight_Count         62988    NaN         NaN    NaN  ...     0         3       111          0
P1Y_BP_SUM               62988    NaN         NaN    NaN  ...     0      2692    246197          0
L1Y_BP_SUM               62988    NaN         NaN    NaN  ...     0      2547    259111          0
EP_SUM                   62988    NaN         NaN    NaN  ...     0         0     74460          0
ADD_Point_SUM            62988    NaN         NaN    NaN  ...     0         0    984938          0
Eli_Add_Point_Sum        62988    NaN         NaN    NaN  ...     0         0    984938          0
L1Y_ELi_Add_Points       62988    NaN         NaN    NaN  ...     0         0    728282          0
Points_Sum               62988    NaN         NaN    NaN  ...     0    6328.5    985572          0
L1Y_Points_Sum           62988    NaN         NaN    NaN  ...     0    2860.5    728282          0
Ration_L1Y_Flight_Count  62988    NaN         NaN    NaN  ...     0       0.5         1          0
Ration_P1Y_Flight_Count  62988    NaN         NaN    NaN  ...     0       0.5         1          0
Ration_P1Y_BPS           62988    NaN         NaN    NaN  ...     0  0.514252  0.999989          0
Ration_L1Y_BPS           62988    NaN         NaN    NaN  ...     0  0.476747  0.999993          0
Point_NotFlight          62988    NaN         NaN    NaN  ...     0         0       140          0

[44 rows x 10 columns]

从统计结果来看，存在票价为空值，票价最小值为0、折扣率最小值为0、总飞行公里数大于0的记录。
票价为空值的数据可能是客户不存在乘机记录造成，其他的数据可能是客户乘坐0折机票或者积分兑换产生的。如果是前者，就是错误的数据，应当在数据处理阶段予以排除

## 加工数据

将数据进行清洗，去掉脏数据。并依据之前的分析需求，将数据转换成K-means聚类算法所需要的形式：计算出所需要的五个字段并进行标准化

步骤如下：清洗脏数据 -> 加工得到五个计算字段 -> 标准化

其中五个字段的计算方法如下：
* L（会员入会时间距观测窗口结束的月数）＝LOAD_TIME－FFP_DATE = 观测窗口的结束时间－入会时间；【单位：月】
* R（客户最近一次乘坐公司飞机距观测窗口结束的月数）＝LAST_TO_END = 最后一次乘机时间至观察窗口末端时长；【单位：月】
* F（客户在观测窗口内乘坐公司飞机的次数）＝ FLIGHT_COUNT ＝ 观测窗口的飞行次数；【单位：次】
* M（客户在观测时间内在公司累计的飞行里程）＝ SEG_KM_SUM ＝ 观测窗口的总飞行公里数【单位：公里】
* C（客户在观测时间内乘坐舱位所对应的折扣系数的平均值）＝ AVG_DISCOUNT ＝ 平均折扣率【单位：无】

## 分析建模

将前面的数据进行处理，得到聚类分析的结果

In [11]:
def clean(df):
    '''清洗数据
    '''
    # 去掉票价为空的数据
    df_clean = df[df['SUM_YR_1'].notnull() & df['SUM_YR_2'].notnull()]
    # 只保留票价非零的，或者平均折扣率与总飞行公里数同时为0的记录。
    c1 = df_clean['SUM_YR_1'] != 0
    c2 = df_clean['SUM_YR_2'] != 0
    c3 = (df_clean['SEG_KM_SUM'] == 0) & (df_clean[f'avg_discount'] == 0)
    df_clean = df_clean[c1 | c2 | c3]
    return df_clean


def lrfmc(df):
    def _get_L(row):
        date1 = datetime.strptime(row['FFP_DATE'], '%Y/%m/%d')
        date2 = datetime.strptime(row['LOAD_TIME'], '%Y/%m/%d')
        r = relativedelta.relativedelta(date2, date1)
        return r.years*12 + r.months + r.days/30.0
    df['L'] = df.apply(_get_L,axis=1)
    df['R'] = df['LAST_TO_END']
    df['F'] = df['FLIGHT_COUNT']
    df['M'] = df['SEG_KM_SUM']
    df['C'] = df['avg_discount']
    return df[['L','R','F','M','C']]

def zsore(df):
    '''对数据进行标准化'''
    df = (df - df.mean(axis=0)) / (df.std(axis=0))
    df.columns = ['Z' + i for i in df.columns]
    return df
    

df_clean = clean(df_origin)
df_lrfmc = lrfmc(df_clean)
df_zsore = zsore(df_lrfmc)
df_zsore

             ZL        ZR         ZF         ZM        ZC
0      1.436590 -0.944948  14.034016  26.761154  1.295540
1      1.308539 -0.911894   9.073213  13.126864  2.868176
2      1.330081 -0.889859   8.718869  12.653481  2.880950
3      0.658713 -0.416098   0.781585  12.540622  1.994714
4      0.385857 -0.922912   9.923636  13.898736  1.344335
...         ...       ...        ...        ...       ...
62974  2.075646 -0.460169  -0.706656  -0.805297 -0.065898
62975  0.558187 -0.283886  -0.706656  -0.805297 -0.282309
62976 -0.150280 -0.735611  -0.706656  -0.772332 -2.689885
62977 -1.205800  1.605649  -0.706656  -0.779837 -2.554628
62978 -0.480579  0.603039  -0.706656  -0.786677 -2.392319

[62044 rows x 5 columns]

In [24]:
def kmeans(df):
    '''返回聚类中心和新的带标签的数据'''
    k = 5
    kmodel = KMeans(n_clusters=k)
    kmodel.fit(df)
    
    df_center = pd.DataFrame(kmodel.cluster_centers_,columns=['L',"R","F","M","C"])
    df_center['label'] = [i for i in range(len(kmodel.cluster_centers_))]

#     print(kmodel.cluster_centers_)
    df_new = df.copy()
    df_new['label'] = kmodel.labels_
    
    
    return df_center,df_new

df_center, df_label = kmeans(df_zsore)
label_count = df_label.groupby("label").apply(len)
df_center['count'] = label_count
df_center

          L         R         F         M         C  label  count
0  0.481018 -0.798320  2.485689  2.426319  0.281230      0   5310
1 -0.697267 -0.408659 -0.167531 -0.169015 -0.212456      1  25355
2  1.151367 -0.370073 -0.093982 -0.103110 -0.128386      2  16094
3 -0.314004  1.669323 -0.573230 -0.537636 -0.132951      3  12440
4  0.169446 -0.079696 -0.104962 -0.084930  2.692050      4   2845

分析结果并给出解决方案：哪些是高价值的客户群体，每个群体应该采用怎样的营销策略。

* L（会员入会时间距观测窗口结束的月数）＝LOAD_TIME－FFP_DATE = 观测窗口的结束时间－入会时间；【单位：月】
* R（客户最近一次乘坐公司飞机距观测窗口结束的月数）＝LAST_TO_END = 最后一次乘机时间至观察窗口末端时长；【单位：月】
* F（客户在观测窗口内乘坐公司飞机的次数）＝ FLIGHT_COUNT ＝ 观测窗口的飞行次数；【单位：次】
* M（客户在观测时间内在公司累计的飞行里程）＝ SEG_KM_SUM ＝ 观测窗口的总飞行公里数【单位：公里】
* C（客户在观测时间内乘坐舱位所对应的折扣系数的平均值）＝ AVG_DISCOUNT ＝ 平均折扣率【单位：无】

根据上面五个指标的定义，L，F,M,C越高，R越低的客户，价值越高。

五个群体的分析如下：

* 0（重要保持客户）:L中等，R低，F高，M、C高，意味着这些客户经常乘坐公司的航班，里程长，是忠实的老客户。应当好好维系关系
* 1（重要发展客户）:L低，R低，F低，M、C中等，意味着这些是新客户，最近有乘坐公司的航班，未来很有价值，应该加大促销力度，让他们转化为忠实的老客户。
* 2（重要挽留客户）:L高，R中等，F中等，M、C中等，意味着这些是老用户，但最近没有乘坐公司的航班，需要及时挽留，提升客户满意度
* 3、4（低价值客户与一般客户）: L低，R高，F低，M、C低，可能是在打折促销时才乘坐航班，不必投入过多营销资源